<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <% if @post.author == nil %>
    <%= f.hidden_field :author_id, value: 1 %>
  <% else %>
    <%= f.hidden_field :author_id, value: @post.author.id %>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, id: 'title' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, id: 'description' %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Post' %>
  </div>
<% end %>
